## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.pyc
*.pdf
*.gif
*.bak
*.aux
*.bbl
*.bcf
*.blg
*.log
*.run.xml
*.synctex*
*.fls
*.fdb*
desktop.ini
.dropbox
Icon*
auto
.auctex-auto
2q_mip/*
profiler/*
sym_mode_2d_diagrams/*
animation/*
region_graphics/*
.tmp_check-long-timings.json
/docs/build

/.travis_ci_gh_pages_deploy_key
/.travis_ci_gh_pages_deploy_key.pub
/worktree*
/gh-pages
/.eggs
/dist
\#*\#
.ipynb_checkpoints
*conflicted copy*
/survey_graphics/*/*.png
/Makefile.conf
