[build-system]
requires = [
  'setuptools>=45',
  'wheel',
  'setuptools_scm[toml]>=6.0',
  'sage-package'
]

[tool.setuptools_scm]
write_to = 'version.txt'
version_scheme = 'post-release'
local_scheme = 'dirty-tag'
