name: CI-check-bib

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
      with:
        submodules: true
    - name: install texlive
      run:  sudo DEBIAN_FRONTEND=noninteractive apt-get install texlive latexmk texlive-latex-extra texlive-bibtex-extra biber
    - name: make check-bib
      run:  make -k check-bib
